
/* start footer style*/
.div1 a:hover{
    color: #F68B1E !important;
    
}

footer{
    background-color:#323232;
}

.div1 li a {
    font-size: 12px;
    color: #C7C7CD  !important;
    text-align: justify !important;
    text-decoration: none !important;
}
.jumiadiv>h6{
    font-size: 12px !important;
    font-weight: bold !important;
    color:white
}
.para-bdg1>h6{
    font-size: 12px !important;
    font-weight: bold !important;
    color:white
}

.icon li{
    display: inline;
   
}
.icon i{
    font-size: 20px;
    padding-right: 16px;
}

.para-bdg1 button{
    font-size: 18px !important;
   
}
.para-bdg1 p{
    font-size: 12px;
    color: #C7C7CD !important;
}
.jumiadiv p{
    font-size: 12px;
    color: #C7C7CD !important;
}

.iconbuscket{
    color: #F68B1E !important;
}
.bdg1{
    background-color: #F68B1E !important;
    font-size: large !important;
    padding: 10px!important;
}

.div1>h6{
    font-size: 12px !important;
    font-weight: bold !important;
    color:white
}
.btntext>h6{
    font-size: 12px !important;
    font-weight: bold !important;
    color:white
}
.btntext>p{
    font-size: 8px;
    color: #C7C7CD !important;
}
.footerdiv a{
    text-decoration: none !important;
}
.footerdiv a:hover{
    color: #F68B1E !important;
    
}

/*end footer style*/