.loginbox input[type="text"],
input[type="password"],
input[type="email"] {
    /* border: none; */
    /* border-bottom: 1px solid gray; */
    /* background: transparent; */
    /* outline: none; */

    /* color:gray; */
    border-bottom: 2px solid #E3E3E6;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;


    /* background-color: aquamarine; */

}

.loginbox button[type="submit"] {
    border: none;
    outline: none;
    background: orange;
    /* font-size: 20px; */

}

.loginbox a[type="submit"] {
    border: none;
    outline: none;
    background: orange;
    /* font-size: 20px; */

}


.button-style {

    font-size: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.loginbox .float-end .div1 .para {
    position: absolute;
    bottom: 60%;

}


h3 {

    color: orange;


}